@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Base */
:root {
    --color-one: #FF589E;
    --color-two: #8261EE;
    --color-text: #777777;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

body::selection {
    background-color: var(--color-one);
    color: #fff; 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

.button {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
    background-color: var(--color-two);
    border: 1px solid var(--color-two);
    color: #fff;
}

.button:hover {
    background-color: var(--color-one);
    border: 1px solid var(--color-one);
}

p {
    color: var(--color-text);
    font-size: 15px;
}

/* End Base */

/* Header */
.header {
    position: fixed;
    width: 100%;
    padding-top: 30px;
    z-index: 999;
}

.inner-header {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding: 10px 0;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.inner-header .inner-image {
    padding: 10px
}

.inner-header ul li {
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
}

.inner-header ul li:hover a {
    color: var(--color-one);
}

.inner-header .inner-icon-menu {
    display: none;
    position: absolute;
    top: 16px;
    right: 15px;
    text-align: end;
    font-size: 24px;
}

@media (max-width: 1199.98px) {
    .inner-header ul li {
        padding: 14px;
    }
}

@media (max-width: 991.98px) {
    .inner-header .inner-menu {
        display: none;
    }

    .inner-header .inner-icon-menu {
        display: block;
    }
}

/* End Header */

/* Welcome Area */
.welcome-area {
    background-image: url(../images/banner-bg.png);
    position: relative;
    height: 100vh;
    background-position: center;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-area .inner-title {
    color: #fff;
    font-size: 36px;
    line-height: 1.5;
}

.welcome-area .inner-desc {
    font-size: 15px;
    color: #fff;
    margin: 40px 16.666667%;
}

@media (max-width: 991.98px) {
    .welcome-area .inner-title {
        padding-top: 80px;
        font-weight: 400;
    }

    .welcome-area .inner-desc {
        margin: 15px 0;
    }
}

@media (max-width: 767.98px) {
    .welcome-area .inner-title {
        font-size: 22px;
    }
}

@media (max-width: 575.98px) {
    .welcome-area .inner-title {
        padding-top: 30px;
        font-weight: 600;
    }
}

/* End Welcome Area */

/* Home Features */
.home-features {
    margin-top: -150px;
    position: relative;
}

.home-features .inner-box {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.home-features .inner-box:hover .inner-icon {
    background-color: var(--color-one);
}

.home-features .inner-icon {
    background-color: var(--color-two);
    display: inline-block;
    padding: 20px 15px;
    border-radius: 50%;
    margin: 20px;
}

.home-features .inner-icon img {
    width: 50px;
    height: auto;
}

.home-features .inner-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.home-features .inner-desc {
    font-size: 13px;
}

@media (max-width: 991.98px) {
    .home-features {
        margin-top: 0;
    }
}
/* End Home Features */

/* Discuss */
.discuss {
    margin: 100px 0;
}

.discuss .inner-discuss {
    align-items: center;
}

.left-right-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discuss .left-right-image img {
    margin: 0 70px 30px 70px;
    width: 250px;
    height: auto;
}

.inner-content .inner-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.inner-content .inner-desc {
    font-size: 16px;
}
/* End Discuss */

@media (max-width: 991.98px) {
    .home-features {
        margin-top: 0;
    }
}

/* Grow Business */
.grow-business .inner-grow-business {
    border-top: 1px solid var(--color-text);
    padding: 150px 0 50px 0;
}

.inner-content .inner-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.inner-content .inner-desc {
    font-size: 16px;
}

.inner-grow-business .left-right-image img {
    width: 250px;
    height: auto;
}
/* End Grow Business */

/* Work Process */
.work-process {
    padding: 100px 0;
    background-image: url(../images/work-process-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.work-process .inner-box {
    background-color: #fff;
    border-radius: 30px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}

.work-process .inner-box::before {
    content: "";
    border-radius: 30px;
    background-color: #fff;
    opacity: 0.2;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
}

.work-process .inner-box:hover {
    margin-top: -20px;
    transition: all 0.3s ease 0s;
}

.work-process .inner-content .inner-title {
    font-size: 28px;
    color: #fff;
}

.work-process .inner-content .inner-desc {
    color: #fff;
    font-size: 15px;
    padding-bottom: 50px;
}

.work-process .inner-box .inner-image {
    padding: 20px 0;

}

.work-process .inner-box .inner-title {
    font-weight: 400;
    font-size: 17px;
    padding: 0;
}

.work-process .inner-box .inner-desc {
    font-size: 14px;
    padding: 5px 25px 20px 25px;
}
/* End Work Process */

/* Button */
.button-one {
    background-color: var(--color-one);
    border: 1px solid var(--color-one);
}

.button-one:hover {
    background-color: var(--color-two);
    border: 1px solid var(--color-two);
}